name: Test Doc 
on:
  workflow_dispatch:
env:
  CARGO_TERM_COLOR: always
  RUST_MIN_STACK: 8388608
  CARGO_BUILD_JOBS: 1
  CARGO_PROFILE_DEV_DEBUG: 0
  PYTHON_VERSION: "3.11"

jobs:
  cargodoc:
    name: Cargo Doc 
    runs-on: [self-hosted, Linux]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain (Linux/macOS)
        if: runner.os != 'Windows'
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Configure Rust to use LLD (Linux)
        if: runner.os == 'Linux'
        run: |
          mkdir -p ~/.cargo
          rm -f ~/.cargo/config.toml
          echo "[target.x86_64-unknown-linux-gnu]" >> ~/.cargo/config.toml
          echo 'linker = "clang"' >> ~/.cargo/config.toml
          echo 'rustflags = ["-C", "link-arg=-fuse-ld=lld", "-C", "link-arg=-Wl,-zstack-size=8388608"]' >> ~/.cargo/config.toml

      - name: Cargo Doc 
        run: cargo doc --all-features
